:root {
    --user-avatar-size: 3rem;
    --user-profile-padding: .5rem;
}

.tvptd__user-profile {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--user-profile-padding);
    border-radius: var(--border-radius);
    transition: box-shadow var(--transition-duration) ease;
    box-shadow: 0 0 .5rem var(--c-gray-light);

    @media (min-width: 768px) {
        display: flex;
    }

    &:focus,
    &:hover {
        box-shadow: 0 0 .5rem var(--c-gray-middle-light);
    }

    .tvptd__user-avatar {
        flex: 0 0 var(--user-avatar-size);
        width: var(--user-avatar-size);
        height: var(--user-avatar-size);
        border-radius: 100%;
        background-color: var(--c-gray-light);
        overflow: hidden;

        .avatar {
            position: relative;
            width: 100%;
            height: auto;
        }
    }

    .tvptd__user-name {
        padding-right: 2.5rem;
    }

    .tvptd__user-wrap {
        // position: relative;
        flex: 0 0 calc(100% - var(--gutter) - var(--user-avatar-size));
        margin-left: 1rem;

        &:after {
            content: '';
            background: url('../media/arrow-black.svg');
            font-size: 2rem;
            width: 1rem;
            height: 1rem;
            display: block;
            position: absolute;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .tvptd__user-actions {
        position: absolute;
        display: none;
        padding: .5rem 1rem;
        background-color: var(--c-white);
        right: 50%;
        top: 0;
        min-width: 100px;
        box-shadow: 0 0 .5rem var(--c-gray-light);
        border-radius: var(--border-radius);
        transform: translateX(50%) translateY(calc(100% + .5rem));
        text-align: left;

        @media (min-width: 768px) {
            right: 0;
            transform: translateX(0) translateY(calc(100% + .5rem));
        }
    }

    .tvptd__user-action {
        white-space: nowrap;
        // font-size: 2rem;

        @media (min-width: 768px) {
            font-size: 1rem;
        }
    }

    &.active {
        .tvptd__user-actions {
            display: block;
        }
    }
}
