:root {
    --c-white: #ffffff;
    --c-black: #222222;

    --c-gray-light: #eeeeee;
    --c-gray: #aaaaaa;

    --c-blue: #0888f0;
    --c-blue-light-darken: #0077d7;
    --c-blue-darken: #0569ba;

    --border-radius: .25rem;

    --transition-duration: .3s;
}

@import 'public/normalize';
@import 'public/typography';
@import 'public/dashboard';
@import 'public/spinner';
@import 'public/user-profile';
@import 'public/widget';